* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

/*************
    Layout 
 ************/

 /* Header */

header {
    padding: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F55A5A;
    color: #FFFFFF;
}

.globe-icon {
    height: 37px;
    width: 37px;
    margin-right: 0.5em;
}

/* is there a difference of using 1rem vs inherit here? if so what use case would 1 rem have over inherit or vice versa? */
.header--title {
    font-size: inherit;
}

/* Hero */

.hero {
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    padding-bottom: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    min-width: 450px;
    color: #2B283A;
    border-bottom: 1px solid #ece6e6;
}

.entry--img {
    min-width: 12em;
    margin-right: 1.8em;
    border-radius: 5px;
}

.entry--body {
    padding: 1em 0;
}

.entry--location-info {
    display: flex;
    align-items: center;
    gap: 1em;
}

.map-icon {
    height: 20px;
    width: 20px;
    color: #F55A5A;
}

.location {
    letter-spacing: 0.17em;
    text-transform: uppercase;
}

.google-maps {
    color: #918E9B;
    cursor: pointer;
}

.entry--title {
    margin: 0 0 1em 0;
    font-size: 1.56rem;
}

.entry--description {
    max-width: 350px;
    line-height: 150%;
}

/* Utils */

.small-txt {
    font-size: 0.625rem
}

.light-txt {
    font-weight: 400;
}

.bold-txt {
    font-weight: 700;
}
